---
interface Props {
  name: string;
  photo?: string;
  location: string;
  position: string;
  description: string;
  availableForWork?: boolean;
}
const { name, location, position, description, availableForWork, photo} = Astro.props;
---

<article class="flex flex-col items-center justify-center max-w-xl">
  <span class=" flex flex-row w-fit items-center"><h1 class="w-48 text-4xl font-bold md:mr-5 md:w-fit">Hi, i'm {name}</h1> {photo? <img src={photo} class="w-32 h-32" alt="profile pic">: null}</span>
<h2 class="text-xl font-medium mt-2">{position}</h2>
{availableForWork ? <p class="mt-2 bg-slate-900 w-48 rounded-lg text-green-500 text-center"><a href="https://www.linkedin.com/in/carlos-m%C3%A9ndez-1a06342bb/">Available for Work</a></p> :<p class="mt-2 bg-slate-900 rounded-lg w-48 text-center text-red-500">Unvailable for Work</p> }
<p class="mt-2">Location: {location}</p>
<p class="mt-5">{description}</p>
</article>